@model ASP_NET_MVC_Q3.Data.Product

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Add</title>
<head>
    <style>
        .vintage2 {
            color: transparent;
            background-color: blue;
            text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
            -webkit-background-clip: text;
        }
    </style>
</head>

<h2 class="vintage2">新增</h2>
<form action="/Product/Add" method="post">

    <div>
        <span style="font-family:sans-serif;">
            Name:
        </span>
        <input type="text" name="Name" required>
        @Html.ValidationMessageFor(Model => Model.Name)
    </div>
    <div>
        <span style="font-family:sans-serif;">
            Locale:
        </span>
        @Html.DropDownListFor(model => model.Locale, ViewData["items"] as IEnumerable<SelectListItem>, "請選擇")
    </div>
    <button type="submit" class="button02">Check</button>
</form>

