@model ASP_NET_MVC_Q3.Data.Product

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Edit</title>


<h2>修改</h2>
<form action="/Product/List" method="post">


    <div>
        <label>
            Name:
        </label>
        <p>
            @Html.TextBoxFor(Model => Model.Name)
            @Html.ValidationMessageFor(Model => Model.Name)
        </p>
    </div>
    <div>
        <label>
            Locale:
        </label>
        <select name="Your Location">
            <option value="US">Unite State</option>
            <option value="DE ">Germany</option>
            <option value="CA ">Canada</option>
            <option value="ES">Spain</option>
            <option value="FR">France</option>
            <option value="JP">Japan</option>
        </select>
    </div>
    <div>
        <label>
            Update Date:
        </label>
        @Model.UpdateDate
        @Html.ValidationMessageFor(Model => Model.UpdateDate)
    </div>
    <button type="submit" class="button02">Check</button>
</form>

